body {
  background-color: #f4d04e;
  font-family: "Figtree", sans-serif;
}

.card-mobile {
  background-color: #ffffff;
  border: 1px solid #111111;
  border-radius: 20px;

  margin: 24px auto;

  width: 327px;
  height: 501px;
}

.card-image {
  margin: 24px;
}

.card-content {
  margin: 0px 24px 24px 24px;
}

.category {
  background-color: #f4d04e;
  font-family: Figtree;
  font-weight: 800;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #111111;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 73px;
  height: 26px;
  border-radius: 4px;
}

.publish-date {
  font-family: Figtree;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #111111;
}

.title {
  font-family: Figtree;
  font-weight: 800;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #111111;
}

.description {
  font-family: Figtree;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: #6b6b6b;
}

.author {
  font-family: Figtree;
  font-weight: 800;
  font-size: font-size/text-preset-3;
  line-height: 150%;
  letter-spacing: 0%;
  color: #111111;

  margin: 0px 24px 24px 24px;

  display: flex;
  justify-content: start;
  align-items: center;
}

.author img {
  margin-right: 12px;
}
